@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


.login-form{
    flex: 1;
    align-content: center;
    form{
        font-family: Russo One;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .creator-label{
            margin: 4px 0px 8px 0px;
            color: white;
            font-size: 36px;
        }

        .creator-class{
            margin: 4px 0px 8px 0px;
            height: 44px;
            width: 280px;
            border-radius: 12px;
        }
        .secret-label{
            margin: 4px 0px 8px 0px;
            color: white;
            font-size: 36px;
        }
        .secret-class{
            margin: 4px 0px 8px 0px;
            height: 44px;
            width: 280px;
            border-radius: 12px;
        }
    }
}